<div class="fixed-top">
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <%= link_to "やんばるCODE", root_path, class: 'navbar-brand' %>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="text-align" id="navbarNav">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "マイページ", "/", class: 'nav-link'%>
        </li>
        <li class="nav-item active">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to " Ruby/Rails教材", texts_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to "動画教材", movies_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to "AWS教材", aws_texts_path, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item active">
          <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
</div>
