<p id="notice"><%= notice %></p>

<div class="base-container mw-md">
  <div class="title">
    <h5>【タイトル】</h5>
    <%= @event.title %>
  </div>
  
  <div class="time">
    <h5>【時刻】</h5>
  
    <%= l @event.start_day, format: :long %><br>
    <%= l @event.start_time, format: :middle %>~<%= l @event.end_time , format: :middle %>
  </div>
  <div class="content">
    <h5>【内容】</h5>
    <%= @event.content %>
  </div>

<%= link_to '編集', edit_event_path(@event.id) %> |
<%= link_to '削除', event_path(@event.id), method: :delete, data: {confirm: '削除しても良いですか？'}%>|
<%= link_to '戻る', events_path %>
</div>