<div class="texts-wrapper">
  <h2 class="text-center">テキスト教材</h2>
  <%# 検索窓 %>
  <form class="mb-3 search-form mx-auto">
  <div id="search-text">
    <%= search_form_for @eq do |f| %>
      <div class="d-flex">
        <div class="form-group flex-grow-1">
          <%= f.search_field :title_cont, placeholder: "教材を探す", class: "form-control" %>
        </div>
        <div> 
        <%= hidden_field_tag(:genre, params[:genre]) if params[:genre].present? %>
        <%= f.submit "検索", class: "btn btn-primary ml-1" %>
        </div>
      </div>
    <% end %>
    
  </div>
  </form>
  <%# ここまで %>
  <div class="row">
    <% @texts.each do |text, i| %>
    <div class="col-12 col-md-6 col-lg-4 text-card-container">
      <div class="card content-card border-dark mb-3">
        <a href="/texts/<%= text.id %>/" class="card">

          <div class="card-header p-0">
            <% if text.image? %>
            <%= image_tag text.image.url %>
            <% end %>
          </div>
          <div class="card-body text-dark text-card-body">
            <div id="read-text-<%= text.id%>">
              <object>
                <% if text.read_by?(current_user) %>
                  <%= render "read_delete", text: text %>
                <% else %>
                  <%= render "read_post", text: text %>
                <% end %>
              </object>
            </div>
            <p class="card-text text-title">
              <%= text.title %>
            </p>
            <p>
              【<%= text.genre %>】
            </p>
          </div>
        </a>
      </div>
    </div>
    <% end %>
  </div>
</div>