<div class="texts-wrapper">
  <h2 class="text-center">テキスト教材</h2>
  <div class="form-control-range">
    <form class="mb-3 search-form mx-auto">
      <i class="fa fa-search search-icon" title="Search"></i>
      <input type="text" id="search-text" class="form-control search-text"
        placeholder="教材を探す" aria-label="Username" aria-describedby="search-form">
    </form>
  </div>
  <div class="row">
    <% @texts.each do |text, i| %>
    <div class="col-12 col-md-6 col-lg-4 text-card-container">
      <div class="card content-card border-dark mb-3">
        <a href="/texts/<%= text.id %>/" class="card">
          <div class="card-header p-0">
            <% if text.image? %>
            <%= image_tag text.image.url %>
            <% end %>
          </div>
          <div class="card-body text-dark text-card-body">
            <div id="read-text-186">
              <object>
             
                <% if current_user.already_read?(@text) %>
                  <%= button_to "読破済みを解除する", text_read_text(@text), method: :delete %>
                <% else %>
                <%= button_to "読破済みにする", text_read_texts_path(@text), method: :post %>
                <% end %>
                <%# <a class="btn btn-secondary btn-block" href="/">読破済みにする</a> %>
              </object>
            </div>
            <p class="card-text text-title">
              <%= text.title %>
            </p>
            <p>
              【<%= text.genre %>】
            </p>
          </div>
        </a>
      </div>
    </div>
    <% end %>
  </div>
</div>